.App {
  text-align: center;
}

.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  height: auto;
  margin:1%
}

.post {
  border-top: solid;
  border-bottom: solid ;
  border-width: 1px;
  border-color: #a6a6a6;
  width: 600px;
  margin: 1%;
}

h4{
  text-align: left;
  padding-left: 100px;
}

.datetime{
  text-align: left;
  padding-left: 100px;
  padding-bottom: 10px;
  color: #6e6e6e;
  border-bottom: solid;
  border-width: 1px;
  border-color: #a6a6a6;
}

.comment{
  margin-top: 0%;
  text-align: left;
  padding-left: 9.5%;
}

.name{
  margin-bottom: 0%;
  text-align: left;
  padding-left: 8%;
}

.caption{
  text-align: left;
  padding-left: 17%;
}

.comment-div{
  background-color: #ececec4b;
  border-top: solid;
  border-width: 1px;
  border-color: #c2c2c26e;
  display: flex; 
  flex-direction: column;
  height: auto;
}


.new-post-button{
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 10px;
  border-radius: 16px;
  border: hidden;
  background-color: rgb(180, 213, 252);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 550;
  transition: 300ms;
}

.new-post-button:hover{
  transform: scale(110%);
}

.post-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.name-input{
  border: solid;
  border: #818181cb;
  padding: 5px;
  font-size: 18px;
}

.name-input:focus{
  outline: #d8d8d875;
  background-color: #d8d8d875;
}

.name-input:focus::placeholder{
  color: transparent;
}


.image-input{
  border: solid;
  border: #ececec91;
  padding: 5px;
  font-size: 18px;
}

.image-input:focus{
  outline: #d8d8d875;
  background-color: #d8d8d875;
}

.image-input:focus::placeholder{
  color: transparent;
}
.caption-input{
  border: solid;
  border: #ececec91;
  padding: 5px;
  font-size: 18px;
}
.caption-input:focus{
  outline: #d8d8d875;
  background-color: #d8d8d875;
}

.caption-input:focus::placeholder{
  color: transparent;
}
.post-button{
  margin-top: 1%;
  padding: 8px;
  border-radius: 16px;
  border: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 550;
  transition: 200ms;
}

.post-button:enabled{
  background-color: rgb(180, 213, 252);
}

.post-h{
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #a6a6a628;
}
